@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.container,
.imageContainer,
.content {
  margin-left: auto;
  margin-right: auto;
}

.container,
.imageContainer,
.image {
  @include border-radius($half);
}

.container {
  background-color: $creamyWhite;
}

.imageContainer {
  height: 256px;
  position: relative;
}

.image {
  object-fit: contain;
  object-position: 50% 50%;
}


/* DESKTOP STYLES */
@media (width >= $container-desktop) {

  .container {
    max-width: $width-max-article-layout;
  }

  .content {
    max-width: $width-max-article;
  }

  .imageContainer {
    height: 512px;
    width: 720px;
  }

}