@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.container,
.imageContainer {
  margin-left: auto;
  margin-right: auto;

}

.imageContainer {
  height: 256px;
  position: relative;
}

.image {
  object-fit: contain;
  object-position: 50% 50%;
}

.content {
  background-color: $creamyWhite;
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

  .container {
    max-width: $width-max-article;
  }

  .imageContainer {
    height: 512px;
    width: 720px;
  }

}