// Layout widths
$width-max-layout: 100%;
$width-max-article: 1000px;

// Breakpoints for containers
$container-desktop-xl: 1440px;
$container-desktop: 1280px;
$container-ipad: 770px;
$container-ipad-landscape: 1024px;
$container-mobile: 480px;