/* VARIABLES */
// Colors
$green: #0E331C;
$creamy-white: #E4DFC1; 
$blue: #004A4F;
$yellow: #DEBB45;
$pink: #FAD9E3;
$white: #ffffff;
$black: #1D1D1B;

// Spacing
$half: .5rem;
$single: 1rem;
$double: 2rem;
$triple: 3rem;
$quadruple: 4rem;
$quintuple: 5rem;