@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/breakpoints";


.accordion {
    padding-bottom: $single;
}

.container {
   padding: $single;
}

.content {
    width: 100%;
    @include border(2px solid);
    border-color: $black;
    @include border-radius(.375rem);
    @include display-flex;
    @include flex-direction(column)
}

.button {
    background-color: $white;
    @include border(1px solid);
    border-color: $black; 
}

.item {
    text-align: left;
    width: 100%;
    min-height: 10px;
}

.flexBox {
     @include display-flex;
    align-items: center
}

.heading {
    font-weight: 700;
    margin-left: $single;
    padding-top: $single;
    padding-bottom: $single;
}


.icon {
    background-image: none;
    @include border(0px solid);
    cursor: pointer;
    margin-right: $single;
    margin-left: auto;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.closed {
    background-color: $green;
}

.open {
    background-color: $green;
    color: $creamyWhite;
}

.divider {
    border-color: $creamyWhite;
    border-top-width: 2px;
}

.answer {
    transition: max-height 0.6s ease;
    max-height: 0;
    overflow: hidden;
    background-color: $white;
    color: $black;
    margin-left: .5rem;
    margin-right: .5rem;
}

.text {
    padding: $single .5rem;
}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {
    .accordion {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .content {
        max-width: 50%;
        flex: 0 0 50%;
    }
}