@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.cards {
  padding: $single;
  background-color: $green;
}

.header, 
.wrapper {
  @include display-flex();
  @include flex-direction(column);
  gap: $single;
}

.card {
  @include display-flex();
  @include flex-direction(column);
  @include border-radius($single);
  padding: $single;
  background-color: $creamyWhite;
  width: 100%;
  align-items: center;
}

.imageContainer {
  position: relative;
  height: 75px;
  width: 75px;
  margin-top: $single;
  margin-bottom: $double;
}

.image {
  @include border-radius(100%);
}

.title {
  padding-bottom: $single;
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

  .cards {
    padding-top: $double;
    padding-bottom: $double;
  }

  .wrapper {
    @include flex-direction(row);
    gap: $double;
  }

  .card {
    max-width: calc(100% / 3);
  }

}
