@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.carousel {
  padding: $single;
  background-color: $creamyWhite;
}

.header,
.wrapper {
  @include display-flex();
  @include flex-direction(column);
}

.header {
  gap: $single;
  padding-bottom: $double;
}

.wrapper {
  gap: $single;
  flex-wrap: wrap;
}

.item {
  @include display-flex();
  @include flex-direction(column);
  @include border-radius($single);
  padding: $single;
  background-color: $creamyWhite;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.imageContainer {
  position: relative;
  height: 160px;
  width: 160px;
  margin-top: $single;
  margin-bottom: $double;
}

.image {
  @include border-radius(100%);
}

.title {
  padding-bottom: $single;
}

.buttonWrapper {
    margin: 0 auto;
}


/* DESKTOP STYLES */
@media (width >= $container-desktop) {

  .header {
    max-width: calc($container-desktop / 2);
    flex: 0 0 50%;
  }

  .cards {
    padding-top: $double;
    padding-bottom: $double;
  }

  .wrapper {
    @include flex-direction(row);
    gap: $double;
  }

  .imageContainer {
    height: 490px;
    width: 490px;
  }

}
