@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

$hero-max-width: 2000px;
$hero-max-height-ratio: 35; // Min-width related to viewport width

.hero {
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
}


.imageContainer {
	width: 100%;
	height: 100%;
	max-height: 270px;
	overflow: hidden;
}

.image {
    object-fit: cover;
    object-position: center;
}

.textWrapper {
	height: 100%;
	width: 100%;
	@include display-flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}

.contentContainer{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.contentContainer {
	position: relative;
}

.bgDefault {
	background-color: $creamy-white;
}

.bgTransparent {
	background-color: transparent;
}


.content {
	padding: $single;

	h1 {
		font-size: $triple;
	}

	h3 {
		font-size: $single;
		font-weight: 500;
	}
	
}


/* DESKTOP STYLES */
@media (width >=  $container-desktop) {

	.hero {
		max-width: $hero-max-width;
		flex-direction: row;
		min-height: $hero-max-height-ratio * 1vw;
	
		@media (min-width: $hero-max-width) {
			min-height: calc(($hero-max-width / 100) * $hero-max-height-ratio);
		}
	}

	.imageContainer,
	.contentContainer {
		max-height: 625px;
		max-width: 720px;
	}

	.imageFirst,
	.contentFirst {
		order: 1;
	}

	.imageLast,
	.contentLast {
		order: 2;
	}


	.content {

		h1 {
			padding-bottom: $double;
			font-size: 3.5rem;
		}
	
		h3 {
			font-size: 1.5rem;
			padding-bottom: $double;
		}
	}
}

