@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

$hero-max-width: 2000px;
$hero-max-height-ratio: 35; // Min-width related to viewport width

#hero {
	position: relative;
	max-width: $hero-max-width;
	margin: auto;
	min-height: $hero-max-height-ratio * 1vw;

	@media (min-width: $hero-max-width) {
		min-height: calc(($hero-max-width / 100) * $hero-max-height-ratio);
	}
}

.imageContainer {
	position: relative;
	width: 100%;
	height: 270px;
	overflow: hidden;
}

.image {
    object-fit: cover;
    object-position: center;
}

.textWrapper {
	height: 100%;
	width: 100%;
	@include display-flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}

.contentContainer{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.contentContainer {
	position: relative;
}

.content {
	padding: $single;
	color: $white;

	h1 {
		font-size: $triple;
	}

	h3 {
		font-size: $single;
		line-height: 1.5rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		font-weight: 500;
	}
	
}

.content {
	background-color: $creamy-white;
}

.contentAlt {
	background-color: transparent;

	h1 {
		font-size: 2.5rem;
	}
}

.heroBTN {
	@include border(1px solid);
	border-color: $white;
	width: 80%;
}

/* DESKTOP STYLES */
@media (width >=  $container-desktop) {

	.imageContainer {
		height: 100%;
		position: absolute;
		inset: 0;
	}

	.contentContainer {
		margin: 0 auto;
		max-width: $container-desktop;
		padding-top: $triple;
		padding-bottom: $triple;
	}

	.content {
		max-width: 28rem;

		h1 {
			padding-bottom: $double;
			font-size: 3.5rem;
			line-height: 2.5rem;
		}
	
		h3 {
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}
}

