@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.highlight {
    display: flex;
    flex-direction: column
}

.imageContainer {
    padding-top: $single;
    padding-bottom: $single;
}

.imageContainer,
.buttonWrapper {
    margin: 0 auto;
}

.content {
    text-align: center;
}

.content,
.buttonWrapper {
    padding-bottom: $single;
}

.image {
    @include border-radius(100%);
  }
  

@media (width >= $container-desktop) {

    .imageContainer {
        padding-top: $double;
    }

    .buttonWrapper {
        padding-bottom: $double;
    }
    
}