@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.highlight {
    @include display-flex();
    @include flex-direction(column);
}

.imageContainer {
    position: relative;
    padding-top: $single;
    padding-bottom: $single;
}

.imageContainer,
.buttonWrapper {
    margin: 0 auto;
}

.content {
    text-align: center;
}

.content {
    padding-bottom: $single;
}

.image {
    @include border-radius(100%);
  }
  

@media (width >= $container-desktop) {

    .imageContainer {
        padding-top: $double;
    }

}