@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.mediaMix {
  position: relative;
  gap: $single;
}

.mediaMix,
.mediaMixColumn {
  @include display-flex();
  @include flex-direction(column);
}

.mediaMixColumn {
  padding: $single;
}

.imageContainer,
.videoContainer {
  position: relative;
  height: 325px;
  width: 325px;
}

.image {
  @include border-radius(100%);
}

.highlightList {
  padding-top: $single;

  li {
    font-size:  1.125rem;
    margin-left: $single;
    font-family: "Bitter", serif;
    list-style-image: url('/icons/checkmark-green.svg');
    padding-bottom: $single;
  }
} 


/* DESKTOP STYLES */
@media (width >= $container-desktop) {
  .mediaMix {
		@include flex-direction(row);
  }

  .mediaMixColumn {
    max-width: 720px;
  }

  .imageContainer,
  .videoContainer {
    height: 650px;
    width: 650px;
  }
}
