@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.mediaMix {
  position: relative;
  gap: $single;
}

.mediaMix,
.mediaMixColumn {
  display: flex;
  flex-direction: column;
}

.imageContainer,
.videoContainer {
  position: relative;
  height: 325px;
  width: 325px;
}

.image {
  @include border-radius(100%);
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {
  .mediaMix {
    flex-direction: row;
  }

  .mediaMixColumn {
    max-width: 720px;
  }

  .imageContainer,
  .videoContainer {
    height: 650px;
    width: 650px;
  }
}
