@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: auto;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: $green;
  scroll-behavior: smooth;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
}

a,
p,
input,
span,
button,
strong,
small {
  font-family: "Roboto", sans-serif;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.btn {
  background-color: $yellow;
  color: $green;
  font-weight: 700;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding: 0.375rem 0.75rem;
  width: 100%;
  @include display-flex;
  justify-content: center;
  @include border-radius($single transparent);
}

.btn:hover,
.btn:focus {
  background-color: $blue;
  color: $yellow;
}

.buttonWrapper {
  padding-bottom: $double;
}

a {
  color: inherit;
  text-decoration-line: none;
}

.video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {
  .btn {
    width: fit-content;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}
