@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: auto;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: $green;
  scroll-behavior: smooth;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
}

a,
p,
input,
span,
button,
strong,
small {
  font-family: "Roboto", sans-serif;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.markdown {
  p {
    padding-bottom: $half;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
}

.btn {
  background-color: $yellow;
  color: $green;
  font-weight: 700;
  transition-property: color, background-color, border-color,
  text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
  backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding: 0.375rem 0.75rem;
  width: 100%;
  @include display-flex;
  justify-content: center;
  @include border-radius($single);
}

.btn:hover,
.btn:focus {
  background-color: $blue;
  color: $yellow;
}

.buttonWrapper {
  padding-top: $single;
  padding-bottom: $double;
}

a {
  color: inherit;
  text-decoration-line: none;
}

.youtube {
  @include border(1px solid transparent);
  width: 100%;
  height: 100%;
	overflow: hidden;
	position: relative;

	iframe {
		position: absolute;
		border: 0;
		height: inherit;
		width: inherit;
		left: 0;
		top: 0;
	}
}


.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

.bg-green {
background-color: $green;
color: $creamyWhite;
}

.bg-creamyWhite {
  background-color: $creamyWhite;
}

.bg-blue {
  background-color: $blue;
  color: $creamyWhite;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-pink {
  background-color: $pink;
}

.bg-white {
  background-color: $white;
}



/* DESKTOP STYLES */
@media (width >= $container-desktop) {
  .btn {
    width: fit-content;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}
